<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Error</title>
   <link rel="stylesheet" href="{$basePath}/styles/custom.css"/>
</head>
<body>

<div class="content">
   <h2>Page Not Found <sup> 404</sup></h2>

   <p>
      template: "{$templateName}.latte" does not exist.
   </p>

   <p>
      return to <a href="welcome">welcome page</a>.
   </p>
</div>
</body>
</html>